.notifications-box{
	background-color: white;
	box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
	margin-bottom: 1em;
	padding: 0.5em;
	position: relative;
	border-radius: 5px;
	object-position: center;
	object-fit: cover;
}
.notif-msg{
	font-weight: bold;
	font-size: 1.3em;
}
.notif-time{
	font-size: 1em;
}
.close-btn{
	margin-right: 30px;
}
.notif-icon{
	width: 6vw;
	height: 10vh;
	border-radius: 50%;
}