.notif-container{
	width: 50%;
	margin: auto;
}
.notifications-box{
	background-color: white;
	box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
	margin-bottom: 1em;
	padding: 0.5em;
	position: relative;
	border-radius: 5px;
	object-position: center;
	object-fit: cover;
}

.notif-img > img{
	width: 5vw;
	height: 10vh;
	left: 0.5em;
	top: 0.5em;
}

.notif-msg{
	position: absolute;
	top: 0.7em;
	left: 4.5em;
	font-weight: bold;
	font-size: 1.3em;
}

.notif-time{
	position: absolute;
	bottom: 0.6em;
	left: 6em;
	font-size: 1em;
}

.notif-close > a{
	position: relative;
	right: 0.5em;
	top: 0.5em;
	color: red;
}

.close-btn{
	margin-right: 30px;
}